.profile {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 0;
  width: 210px;
  background-color: #fff;
  border: solid 2px coral;
  border-radius: 0px 0px 4px 4px;
}
.description {
  display: block;
}
.avatar {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 80px;
  margin-bottom: 20px;
 
}
.name {
  text-align: center;
  margin-bottom: 5px;
}
.tag {
  text-align: center;
  margin-bottom: 5px;
}
.location {
  text-align: center;
  margin-bottom: 20px;
}
.stats {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.statsItem{
  text-align: center;
  /* padding: 15px; */
  width: 100%;
  border: solid 2px coral;
  background-color: #c4bcbc;
}
.label {
  text-align: center;
}
.quantity {
  display: block;
}
